<html>
<head>
</head>

<body>
<h1>Welcome to the Genre page
<ul>
<li>{{title}}</li>
<li>Genre</li>
<li>Genre</li>
<li>Genre</li>
<li>Genre</li>
<li>Genre</li>
<li>Genre</li>
<li>Genre</li>
</ul>
</body>

</html>