<html>
<head>
</head>

<body>
<h1>Welcome to the Genre page
<ul>
<li><a href="/movies/genre/">Action</a></li>
<li><a href="/movies/genre/">Comedy</a></li>
<li><a href="/movies/genre/">Fantasy</a></li>
<li><a href="/movies/genre/">Horror</a></li>
<li><a href="/movies/genre/">Romance</a></li>
<li><a href="/movies/genre/">Sci-Fi</a></li>
<li><a href="/movies/genre/">Thriller</a></li>
</ul>
</body>

</html>