<html>
<head>
</head>

<body>
<h1>Welcome to the Genre page
<ul>
<li><a href="/movies/genre/action">Action</a></li>
<li><a href="/movies/genre/comedy">Comedy</a></li>
<li><a href="/movies/genre/fantasy">Fantasy</a></li>
<li><a href="/movies/genre/horror">Horror</a></li>
<li><a href="/movies/genre/romance">Romance</a></li>
<li><a href="/movies/genre/sci-fi">Sci-Fi</a></li>
<li><a href="/movies/genre/thriller">Thriller</a></li>
</ul>
</body>

</html>