<html>
<head></head>

<body>

    <h1>Posts</h1>

    {{#posts}}

        <b>{{title}}</b>

        <p>{{body}}</p>

        <label>Edit</label>
        <form method="POST" action="./edit/{{post_id}}">
            <input type="text" name="title" placeholder="{{title}}" />
            <input type="text" name="body" placeholder="{{body}}" />
            <button>Save</button>
        </form>

        <form method="POST" action="./delete/{{post_id}}">
            <button>DELETE</button>
        </form>

        <br />

    {{/posts}}

    <h1>Add New Post</h1>

    <form method="POST" action="/posts">
        <input type="text" name="title" />
        <input type="text" name="body" />
        <button>Save</button>
    </form>

</body>

</html>