<html>
<head></head>

<body>

    <h1>Register</h1>

    <form method="POST" action = "/register">
        <label>Actual Name</label>
        <input type="text" name="username" />
        <br />
        <label>Type in "Password" Here</label>
        <input type="text" name="password" />
        <br />
        <label>Credit Card Info</label> 
        <input type="number" name="cc-info" />
        <br />
        <label> Social Security</label>
        <input type="number" name="ss-num" />
        <br />
        <button>Register</button>
    </form>

</body>

</html>
