<html>
<head>
</head>

<body>
    <form method="POST" action="/account/login">
        <input type="text" name="username">
        <input type="text" name="password">
        <button>Login</button>
    </form>


</body>

</html>