<html>
<head>
</head>

<body>
    <form method="POST" action="/account/register">
        <input type="text" name="username">
        <input type="text" name="password">
        <button>Register</button>
    </form>
</body>

</html>