<html>
<head>
</head>

<body>
   <form method="POST" action="/trips"> 
    <input type="text" name="title" placeholder="city"/>
    <input type="text" name="cost" placeholder="price"/>
    <button> Save </button>
   </form> 
    
    {{#trips}} <!-- loop start -->
        <h1>City: {{title}}</h1>
        <h2>Price: ${{cost}}</b>
    {{/trips}} <!-- loop end -->

</body>
</html>