<html>
<head>
</head>

<body>
   <form method="POST" action="/trips"> 
    <input type="text" name="name" placeholder="city"/>
    <input type="text" name="cost" placeholder="price"/>
    <button type="submit"> Save </button>
   </form> 
    
    {{#trips}} <!-- loop start -->
        <ul>City: {{name}}
        <li>Price: {{cost}}</li>
        <li>Date of Departure: {{dateOfDeparture}} </li>
        <li>Date of Return: TBD </li>
        </ul>
        
        <br />
    {{/trips}} <!-- loop end -->

</body>
</html>