<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="chat.css">
</head>

<body>
    <ul id="messages"></ul>
    <form id="chatForm" action="">
        <input id="m" value=""/>
        <button id="submitButton">Send</button>
    </form>
    {{! <script src="/socket.io/socket.io.js"></script> }}
    {{! <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script> }}
    {{! <script src="app.js"></script> }}
    {{! <script>


        $(function () {
            var socket = io();
            $('form').submit(function (e) {
                event.preventDefault();
                socket.emit('chat message', $('#m').val());
                $('#m').val('');
                return false;
            });
            socket.on('chat message', function (msg) {
                event.preventDefault();

                document.getElementById('messages').insertAdjacentHTML('beforeend', `<li>${msg}</li>`)
            });
        });
    </script> }}
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="/app.js"></script>
</html>